<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyWeather API</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
</head>
<body>
    <div>
        <div class="main-div">
            <h2>API calls list:</h2>
            <ul>
                <li></li>
            </ul>

            <div>
                <h1>Execute API calls:</h1>
            </div>
        </div>
    </div>
</body>
</html>