<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyWeather API</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
</head>
<body>
    <div>
        <div class="main-div">
            <div>
                <button onclick="window.location.href='/'">Homepage</button>
            </div>
            <h1>API calls list</h1>
            <table>
                <tr>
                    <th>Url</th>
                    <th>Methods</th>
                    <th>Description</th>
                    <th>Parameters</th>
                </tr>
                <tr>
                    <td>/api/forecast</td>
                    <td class="method">GET, PUT, DELETE</td>
                    <td>Manages forecast data: supports retrieving, uploading or deleting forecast data</td>
                    <td>
                        <ul>
                            <li><strong>key</strong> - API key (required)</li>
                        </ul>
                        <ul><span class="method">GET</span>
                            <li><strong>placename</strong> - Place name</li>
                            <li><strong>placeid</strong> - Place ID</li>
                            <li><strong>date</strong> - Date in ISO format (required)</li>
                            <li><strong>details</strong> - Whether to include additional details (condition description and place name) (optional)</li>
                        </ul>
                        <ul><span class="method">PUT</span>
                            <li><strong>placeid</strong> - Place ID</li>
                            <li><strong>date</strong> - Date in ISO format (required)</li>
                            <li><strong>condition</strong> - Weather condition id (optional)</li>
                            <li><strong>rain</strong> - Rain (mm) (optional)</li>
                            <li><strong>humidity</strong> - Humidity percentage (optional)</li>
                            <li><strong>wind</strong> - Wind speed (km/h) (optional)</li>
                            <li><strong>wind_direction</strong> - Wind direction (optional)</li>
                        </ul>
                        <ul><span class="method">DELETE</span>
                            <li><strong>forecastid</strong> - Forecast id</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>/api/places</td>
                    <td class="method">GET, PUT, DELETE</td>
                    <td>Retrieves place data: supports retrieving, uploading or deleting places data</td>
                    <td>
                        <ul>
                            <li><strong>key</strong> - API key (required)</li>
                        </ul>
                        <ul><span class="method">GET</span>
                            <li><strong>placeid</strong> - Place id</li>
                            <li><strong>placename</strong> - Place name</li>
                        </ul>
                        <ul><span class="method">PUT</span>
                            <li><strong>placeid</strong> - Place id</li>
                            <li><strong>placename</strong> - Place name</li>
                            <li><strong>lat</strong> - Latitude (optional)</li>
                            <li><strong>lon</strong> - Longitude (optional)</li>
                            <li><strong>coords</strong> - Coordinates 'float,float' (optional)</li>
                        </ul>
                        <ul><span class="method">DELETE</span>
                            <li><strong>placeid</strong> - Place id</li>
                            <li><strong>placename</strong> - Place name</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>/api/conditions</td>
                    <td class="method">GET</td>
                    <td>Retrieves weather condition data: supports querying by condition ID</td>
                    <td>
                        <ul>
                            <li><strong>key</strong> - API key (required)</li>
                        </ul>
                        <ul><span class="method">GET</span>
                            <li><strong>id</strong> - Condition ID (optional)</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>/api/alltables</td>
                    <td class="method">GET</td>
                    <td>Retrieves all data from all tables in the database (for debug purpose, since this project is a "demo")</td>
                    <td></td>
                </tr>
            </table>

            <h2>Examples (GET requests)</h2>
            <ul class="example-list">
                <li><a href="/api/forecast?placeid=1&date=2024-06-21&details=true&key=YOUR_API_KEY">.../api/forecast?placeid=1&date=2024-06-21&details=true&key=YOUR_API_KEY</a></li>
                <li><a href="/api/forecast?placename=Prato&date=2024-06-20&key=YOUR_API_KEY">.../api/forecast?placename=Prato&date=2024-06-20&key=YOUR_API_KEY</a></li>
                <li><a href="/api/conditions?id=1&key=YOUR_API_KEY">.../api/conditions?id=1&key=YOUR_API_KEY</a></li>
                <li><a href="/api/places?placename=Firenze&key=YOUR_API_KEY">.../api/places?placename=Firenze&key=YOUR_API_KEY</a></li>
            </ul>

            <div>
                <button onclick="window.location.href='/'">Homepage</button>
            </div>
        </div>
    </div>
</body>
</html>