<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyWeather API</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
</head>
<body>
    <div>
        <div class="main-div">
            <div class="buttons-div">
                <h2>Welcome to MyWeather API</h2>
                <button onclick="window.location.href='/login'">Manage Profile</button>
                <button onclick="window.location.href='/apicalls'">View Calls</button>
                <button onclick="window.location.href='/urlslist'">View Urls</button>
            </div>
        </div>
    </div>
</body>
</html>